<?xml version="1.0" encoding="UTF-8" ?>
<routes xmlns="http://symfony.com/schema/routing"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://symfony.com/schema/routing http://symfony.com/schema/routing/routing-1.0.xsd">

    <route id="flexphp.location.currencies.index" controller="flexphp.location.bundle.currency_controller::index" path="/currencies" methods="GET" />
    <route id="flexphp.location.currencies.new" controller="flexphp.location.bundle.currency_controller::new" path="/currencies/new" methods="GET" />
    <route id="flexphp.location.currencies.create" controller="flexphp.location.bundle.currency_controller::create" path="/currencies/create" methods="POST" />
    <route id="flexphp.location.currencies.read" controller="flexphp.location.bundle.currency_controller::read" path="/currencies/{id}" methods="GET" />
    <route id="flexphp.location.currencies.edit" controller="flexphp.location.bundle.currency_controller::edit" path="/currencies/edit/{id}" methods="GET" />
    <route id="flexphp.location.currencies.update" controller="flexphp.location.bundle.currency_controller::update" path="/currencies/update/{id}" methods="PUT" />
    <route id="flexphp.location.currencies.delete" controller="flexphp.location.bundle.currency_controller::delete" path="/currencies/delete/{id}" methods="DELETE" />

    <route id="flexphp.location.document-types.index" controller="flexphp.location.bundle.document_type_controller::index" path="/document-types" methods="GET" />
    <route id="flexphp.location.document-types.new" controller="flexphp.location.bundle.document_type_controller::new" path="/document-types/new" methods="GET" />
    <route id="flexphp.location.document-types.create" controller="flexphp.location.bundle.document_type_controller::create" path="/document-types/create" methods="POST" />
    <route id="flexphp.location.document-types.read" controller="flexphp.location.bundle.document_type_controller::read" path="/document-types/{id}" methods="GET" />
    <route id="flexphp.location.document-types.edit" controller="flexphp.location.bundle.document_type_controller::edit" path="/document-types/edit/{id}" methods="GET" />
    <route id="flexphp.location.document-types.update" controller="flexphp.location.bundle.document_type_controller::update" path="/document-types/update/{id}" methods="PUT" />
    <route id="flexphp.location.document-types.delete" controller="flexphp.location.bundle.document_type_controller::delete" path="/document-types/delete/{id}" methods="DELETE" />

    <route id="flexphp.location.payment-methods.index" controller="flexphp.location.bundle.payment_method_controller::index" path="/payment-methods" methods="GET" />
    <route id="flexphp.location.payment-methods.new" controller="flexphp.location.bundle.payment_method_controller::new" path="/payment-methods/new" methods="GET" />
    <route id="flexphp.location.payment-methods.create" controller="flexphp.location.bundle.payment_method_controller::create" path="/payment-methods/create" methods="POST" />
    <route id="flexphp.location.payment-methods.read" controller="flexphp.location.bundle.payment_method_controller::read" path="/payment-methods/{id}" methods="GET" />
    <route id="flexphp.location.payment-methods.edit" controller="flexphp.location.bundle.payment_method_controller::edit" path="/payment-methods/edit/{id}" methods="GET" />
    <route id="flexphp.location.payment-methods.update" controller="flexphp.location.bundle.payment_method_controller::update" path="/payment-methods/update/{id}" methods="PUT" />
    <route id="flexphp.location.payment-methods.delete" controller="flexphp.location.bundle.payment_method_controller::delete" path="/payment-methods/delete/{id}" methods="DELETE" />

    <route id="flexphp.location.countries.index" controller="flexphp.location.bundle.country_controller::index" path="/countries" methods="GET" />
    <route id="flexphp.location.countries.new" controller="flexphp.location.bundle.country_controller::new" path="/countries/new" methods="GET" />
    <route id="flexphp.location.countries.create" controller="flexphp.location.bundle.country_controller::create" path="/countries/create" methods="POST" />
    <route id="flexphp.location.countries.read" controller="flexphp.location.bundle.country_controller::read" path="/countries/{id}" methods="GET" />
    <route id="flexphp.location.countries.edit" controller="flexphp.location.bundle.country_controller::edit" path="/countries/edit/{id}" methods="GET" />
    <route id="flexphp.location.countries.update" controller="flexphp.location.bundle.country_controller::update" path="/countries/update/{id}" methods="PUT" />
    <route id="flexphp.location.countries.delete" controller="flexphp.location.bundle.country_controller::delete" path="/countries/delete/{id}" methods="DELETE" />
</routes>

